# Editor settings
.vscode/

# Build artifacts
*.o
*.a
lexer
parser

# Temporary files
*~
*.swp
*.tmp
*.bak
*.DS_Store

# Ignore local build outputs in each phase
01-Lexer/lexer
02-Parser/parser
01-Lexer/liblexer.a
02-Parser/libparser.a
03-Semantic/semantic
